.background-slider{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-size:cover;
background-position:center;
z-index:-1;
animation: bgChange 15s infinite;
}

@keyframes bgChange {
0% { background-image: url("images/hero.jpg"); }
33% { background-image: url("images/pizza.jpg"); }
66% { background-image: url("images/pasta.jpg"); }
100% { background-image: url("images/hero.jpg"); }
}
body{
margin:0;
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

.container{
padding:60px 20px;
max-width:500px;
margin:auto;
}

form{
margin-top:20px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:12px;
background:red;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
font-size:16px;
}

button:hover{
background:darkred;
}

.info-box{
margin-top:30px;
background:#222;
padding:20px;
border-radius:10px;
}
