body{
margin:0;
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

.container{
padding:60px 20px;
max-width:500px;
margin:auto;
}

form{
margin-top:20px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:12px;
background:red;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
font-size:16px;
}

button:hover{
background:darkred;
}

.info-box{
margin-top:30px;
background:#222;
padding:20px;
border-radius:10px;
}
